{%  extends 'base.html.twig'  %}


{%   block body  %}

    
<div class="container d-flex  justify-content-center ">
	<div class="d-flex flex-column">
		<h2>
			Expiration du lien d'inscription !
		</h2>
		<p>
			Votre lien de confirmation est déjà validé ou si vous êtes connecté et que vous venez de cliquez sur le lien d'inscription alors vous avez validé votre compte.
		</p>
        <img src="{{ asset('image/Expired.jpg') }}" alt="">
	</div>
</div>

{% endblock %}
